<!-- 
  
  Name - Rajan Walia
  Rollno. - 204029
  CSS Assignment - 5
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rajan Walia-CSS Assignment-5</title>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <img src="images/logo-symbol-dark.png" alt="" />
        </div>
        <div class="nav-items">
          <ul>
            <li class="item"><a href="#section1">Home</a></li>
            <li class="item"><a href="#section6">Price</a></li>
            <li class="item"><a href="#section5">About</a></li>
            <li class="item"><a href="#section3">Pages</a></li>
            <li class="item"><a href="#section4">Blocks</a></li>
            <li class="item"><a href="#section7">Contact</a></li>
          </ul>
        </div>

        <div class="buynow-btn">
          <button>BUY NOW</button>
        </div>
      </nav>
      <div class="header-container">
        <div class="sub-container">
          <div class="main-heading">
            <div class="heading">
              <h1>AGENCY.</h1>
            </div>

            <div class="heading-description">
              <h4>
                There are many variations of passages but the majority have
                suffered alteration.
              </h4>
            </div>
            <div class="contact-btn">
              <button>contact us</button>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section id="section1">
      <div class="container">
        <div class="box1 box">
          <span class="material-icons">layers</span>
          <h3>Bussiness Strategy</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur dolor sit amet consectetur
            adipisicing elit Lorem ipsum dolor sit.
          </p>
        </div>
        <div class="box2 box">
          <span class="material-icons">layers</span>
          <h3>Website Developement</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur dolor sit amet consectetur
            adipisicing elit Lorem ipsum dolor sit.
          </p>
        </div>
        <div class="box3 box">
          <span class="material-icons">layers</span>
          <h3>Marketing & Reporting</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur dolor sit amet consectetur
            adipisicing elit Lorem ipsum dolor sit.
          </p>
        </div>
      </div>
    </section>

    <section id="section2">
      <div class="container">
        <div class="box box1">
          <h2>Services</h2>
          <p>
            There are many variation of passages of lorem lipsome available,but.
          </p>
          <span>Request Custom Services</span>
          <hr />
        </div>
        <div class="box box2">
          <img src="images/corporate-01.jpg" alt="" />
          <h3>Thinking Developement</h3>
          <p>I throw myself down among the tall grass by the stream</p>
          <span>Read More</span>
          <hr />
        </div>
        <div class="box box3">
          <img src="images/corporate-02.jpg" alt="" />
          <h3>Bussiness Developement</h3>
          <p>I throw myself down among the tall grass by the stream</p>
          <span>Read More</span>
          <hr />
        </div>

        <div class="box box4">
          <img src="images/corporate-03.jpg" alt="" />
          <h3>Thinking Consultant</h3>
          <p>I throw myself down among the tall grass by the stream</p>
          <span>Read More</span>
          <hr />
        </div>
      </div>
    </section>

    <!-- section 3 -->
    <section id="section3">
      <div class="container">
        <div class="box">
          <h2>333<sup>+</sup></h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia
            beatae at esse, repudiandae dignissimos.
          </p>
        </div>
        <div class="box">
          <h2>192<sup>+</sup></h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia
            beatae at esse, repudiandae dignissimos.
          </p>
        </div>
        <div class="box">
          <h2>23<sup>+</sup></h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia
            beatae at esse, repudiandae dignissimos.
          </p>
        </div>
      </div>
    </section>

    <!-- section 4 -->
    <section id="section4">
      <div class="container">
        <div class="container1">
          <div class="heading">
            <h2>Managing Team</h2>
            <p>
              There are many variations of lorem ipsum pages. But only few are
              good to use and majority can be alteration.
            </p>
          </div>
        </div>
        <div class="container2">
          <div class="box box1">
            <img src="images/team-03.jpg" alt="" />
            <div class="name">Jone Jan</div>
            <div class="role">Sr. Web Developer</div>
            <div class="links">
              <span class="material-icons">facebook</span>
              <span class="material-icons"> phone_in_talk</span>
              <span class="material-icons"> star_rate </span>
            </div>
          </div>
          <div class="box box2">
            <img src="images/team-05.jpg" alt="" />

            <div class="name">Jone Jan</div>
            <div class="role">Sr. Web Developer</div>
            <div class="links">
              <span class="material-icons">facebook</span>
              <span class="material-icons"> phone_in_talk</span>
              <span class="material-icons"> star_rate </span>
            </div>
          </div>
          <div class="box box3">
            <img src="images/team-03.jpg" alt="" />
            <div class="name">Jone Jan</div>
            <div class="role">Sr. Web Developer</div>
            <div class="links">
              <span class="material-icons">facebook</span>
              <span class="material-icons"> phone_in_talk</span>
              <span class="material-icons"> star_rate </span>
            </div>
          </div>
          <div class="box box4">
            <img src="images/team-05.jpg" alt="" />
            <div class="name">Jone Jan</div>
            <div class="role">Sr. Web Developer</div>
            <div class="links">
              <span class="material-icons">facebook</span>
              <span class="material-icons"> phone_in_talk</span>
              <span class="material-icons"> star_rate </span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- section 5 -->

    <section id="section5">
      <div class="container">
        <div class="container1">
          <h2>About</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, quae.
            Possimus dolores sapiente amet, omnis eos maiores, similique
            doloribus officia voluptate praesentium ex corporis, saepe
            architecto! Nemo beatae odio officia.
          </p>

          <div class="box">
            <span>Lorem ipsum dolar sit</span>
            <ul>
              <li>
                <span class="material-icons"> check </span> <span class="item">There is a lorem</span>
              </li>
              <li>
                <span class="material-icons"> check </span> <span class="item">There is a lorem</span>
              </li>
              <li>
                <span class="material-icons"> check </span> <span class="item">There is a lorem</span>
              </li>
              <li>
                <span class="material-icons"> check </span> <span class="item">There is a lorem</span
              </li>
            </ul>
          </div>

          <div class="box">
            <span>Lorem ipsum dolar sit</span>
            <ul>
              <li>
                <span class="material-icons"> check </span> <span class="item">There is a lorem</span>
              </li>
              <li>
                <span class="material-icons"> check </span> <span class="item">There is a lorem</span>
              </li>
              <li>
                <span class="material-icons"> check </span> <span class="item">There is a lorem</span>
              </li>
              <li>
                <span class="material-icons"> check </span> <span class="item">There is a lorem</span
              </li>
            </ul>
          </div>
        </div>

        <div class="container2">
          <div class="btn">
            <span class="material-icons"> play_circle_filled </span>
          </div>
        </div>
      </div>
    </section>
    
    <!-- section 6 -->
    
    <section id="section6">
      
      <div class="container">
        <div class="container1">
          
          <div class="pricing">
            <h2>Pricing Plan</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
               Magnam voluptatum voluptatibus facilis, error ratione dolores
                modi ab, ipsam.</p>
                
          </div>
          
        </div>
        <div class="container2">
          
          <div class="box box1">
            
            <div class="item1">
              <h3>Free</h3>
              <h2>29</h2>
              <span> USD Per Month</span>
               <hr>
            </div>
            
            <div class="item2">
              <ul>
                <li><span class="material-icons"> check </span> 5 PPC Campaigns</li>
                <li><span class="material-icons"> check </span> Digital Marketing</li>
                <li><span class="material-icons"> check </span> Marketing Agency</li>
                <li><span class="material-icons"> check </span> Seo Friendly</li>
                <li><span class="material-icons"> check </span> UI/UX designs</li>
              </ul>
              
            </div>
            <div class="item3">
              <button>
                PURCHASE NOW
              </button>
            </div>
            
            
          </div>
          <div class="box box2">
            
                
            <div class="item1">
              <h3>Free</h3>
              <h2>29</h2>
              <span> USD Per Month</span>
               <hr>
            </div>
            <div class="item2">
              <ul>
                <li><span class="material-icons"> check </span> 5 PPC Campaigns</li>
                <li><span class="material-icons"> check </span> Digital Marketing</li>
                <li><span class="material-icons"> check </span> Marketing Agency</li>
                <li><span class="material-icons"> check </span> Seo Friendly</li>
                <li><span class="material-icons"> check </span> UI/UX designs</li>
              </ul>
            
            
            
          </div>
          
          <div class="item3">
            <button>
              PURCHASE NOW
            </button>
          </div>
          
          
          </div>

          <div class="box box3">
            
            <div class="item1">
              <h3>Free</h3>
              <h2>29</h2>
              <span> USD Per Month</span>
               <hr>
            </div>
            <div class="item2">
              <ul>
                <li><span class="material-icons"> check </span> 5 PPC Campaigns</li>
                <li><span class="material-icons"> check </span> Digital Marketing</li>
                <li><span class="material-icons"> check </span> Marketing Agency</li>
                <li><span class="material-icons"> check </span> Seo Friendly</li>
                <li><span class="material-icons"> check </span> UI/UX designs</li>
              </ul>
            
            
            
          </div>
          
          <div class="item3">
            <button>
              PURCHASE NOW
            </button>
          </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- section 7 -->

    <section id="section7">
      
      <div class="container">
        <div class="item1"><h3>READY TO DO THIS</h3></div>
        <div class="item2"><h2>Let's get to work</h2></div>
        <div class="item3"><button>CONTACT US</button></div>
      </div>
      
    </section>
    
    <footer>
      <div class="box logo">
        
        <img src="images/logo.png" alt="">
        
      </div>
      <div class="box links">
        <div class="item"><span class="material-icons">
          facebook
          </span></div>
        <div class="item"><span class="material-icons">
          facebook
          </span></div>
        <div class="item"><span class="material-icons">
          facebook
          </span></div>
        <div class="item"><span class="material-icons">
          facebook
          </span></div>
      </div>
      <div class="box copyright"> copyright © 2021 Rainbow-Themes. All Rights Reserved.</div>
    </footer>
    
    <script src="script.js"></script>
  </body>
</html>
